<% content_for :head do %>
 <title>持ってるモノランキング - monolist</title>
 <meta name="description" content="持ってるモノをランキング形式で多い順から上位10位まで表示しています。">
<% end %>

<h2 class="center">持ってるモノランキング</h2>
<%= render 'ranking/list' %>