<% content_for :head do %>
 <title>欲しいモノランキング - monolist</title>
 <meta name="description" content="欲しいモノをランキング形式で多い順から上位10位まで表示しています。">
<% end %>

<h2 class="center">欲しいモノランキング</h2>
<%= render 'ranking/list' %>